<!doctype html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  
    <title>Blog | Daniel Puglisi</title>
  
  <meta name="author" content="Daniel Puglisi" />
  <meta name="description" content="Daniel Puglisi is a Swiss Designer and Web Developer. He is the Co-Founder of Codegestalt, Kreatify and a Photography enthusiast." />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <meta property="og:description" content="&lt;div class=&quot;full-width-box&quot;&gt;
  &lt;div class=&quot;wrapper border-top&quot;&gt;
    &lt;div class=&quot;inner center&quot;&gt;
      &lt;p class=&quot;categories&quot;&gt;
        I write about my
        &lt;a href=&quot;/blog/startup&quot;&gt;startup life&lt;/a&gt;,
        &lt;a href=&quot;/blog/productivity&quot;&gt;productivity&lt;/a&gt;,
        &lt;a href=&quot;/blog/programming&quot;&gt;programming&lt;/a&gt;,
        &lt;a href=&quot;/blog/music&quot;&gt;music&lt;/a&gt; and a lot of other things.
      &lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;

{% for post in paginator.posts %}

  {% case post.layout %}
  {% when 'post' %}
    {% include post.html %}
  {% when 'link' %}
    {% include link.html %}
  {% when 'quote' %}
    {% include quote.html %}
  {% endcase %}

{% endfor %}

{% include pagination.html %}
" />
  <link rel="stylesheet" href="/stylesheets/application.css" type="text/css" media="screen, projection" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-32260198-1']);
    _gaq.push(['_setDomainName', 'danielpuglisi.com']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  </script>
</head>
<body>
  <section class="full-width">

    <section class="header">
  <div class="wrapper">
    <div class="inner">
      <div class="logo left">
        <a href="/" class="domain"><span class="red">&hearts;</span></a>
      </div>

      <div class="navigation right">
        <ul>
          <li><a href="/work.html">Work</a></li>
          <li><a href="/blog">Articles</a></li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</section>

<div class="full-width-box">
  <div class="wrapper border-top">
    <div class="inner center">
      <p class="categories">
        I write about my
        <a href="/blog/startup">startup life</a>,
        <a href="/blog/productivity">productivity</a>,
        <a href="/blog/programming">programming</a>,
        <a href="/blog/music">music</a> and a lot of other things.
      </p>
    </div>
  </div>
</div>



  
    <article class="post">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          
            <a href="/articles/2012/11/26/the-stranger---lord-huron.html">The Stranger - Lord Huron</a> 
          
        </h2>
        <div class="meta">November 26, 2012</div>
      </header>
      <iframe src="https://embed.spotify.com/?uri=spotify:track:3XjsdEun6XcO2Gs4lJCueH" class="spotify" frameborder="0" allowtransparency="true"></iframe>




      
    </div>
  </div>
</article>

  



  
    <article class="post">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          
            <a href="/articles/2012/11/12/5-essential-productivity-tips.html">5 essential productivity tips</a> 
          
        </h2>
        <div class="meta">November 12, 2012</div>
      </header>
      <p>Working independently and on a machine which is connected to the internet that
provides hours of procrastination-encouraging stuff isn&rsquo;t always that easy. Sometimes
you just drift off of that new line of code you wanted to implement, just because
someone tweeted about this new fancy piece of Apple device he or she just bought.
Several minutes later, you often don&rsquo;t even remember how you ended up watching that
youtube video in which unicorns and monkeys playing chess together.</p>




<p>Sounds familiar? Now don&rsquo;t be afraid, I&rsquo;m here to help you. I&rsquo;ve 5 essentials tips for you
on how you can prevent yourself from falling into this situation again.</p>




<h3>1. Turn off vibration on your mobile phone</h3>




<p>This one saved me a lot of time. Turn off vibration for the
most disturbing features/apps your phone possesses. In my case
I&rsquo;ve disabled vibration for the following apps on my iPhone:</p>




<ul>
<li>SMS</li>
<li>WhatsApp (I even disabled all notifications because of some group conversation I&rsquo;m in)</li>
<li>Mail</li>
<li>Twitter</li>
<li>Facebook</li>
<li>Foursquare</li>
<li>Instagram</li>
</ul>




<p>I haven&rsquo;t disabled vibration when someone is calling me. When I don&rsquo;t want to be
disturbed by a phone call I put my iPhone into the <strong>Do not disturb</strong> mode. If your
phone doesn&rsquo;t have such a feature you can, of course, disable the vibration for
the calling feature too.</p>




<h3>2. The rule of three</h3>




<p>The rule of three is one of my creations which helped me a lot lately. The basic idea
behind it is to have only three applications open at a time.
When I&rsquo;m developing I only use a Terminal (iTerm) a Browser (Google Chrome) and a
music application (Spotify). Whereas the music application isn&rsquo;t work related but
has its own purpose (more about this in tip #3).
I know this isn&rsquo;t possible for every use case and if you need four applications,
go along with four.</p>




<p>The value of doing this goes beyond the number of open applications. It helps you
to recognize which apps are supporting your workflow and which apps don&rsquo;t. Since
I&rsquo;m using this approach, I never got interrupted by a new Tweet or Chat message.</p>




<h3>3. Wear headphones and listen to music</h3>




<p>Wearing headphones can improve your productivity in two ways.</p>




<p>The first one is that people who are in the same room as you
(e.g. when you&rsquo;re working at a startup or in a coworking office)
don&rsquo;t just walk up to you and disturb you. The fact that you&rsquo;re
wearing headphones can be a sign that you are concentrating and don&rsquo;t want to be
interrupted. Unfortunately there are a lot of old school companies out there which
think you should not be listening to music on both ears, because if someone wants
to ask you a question from the other side of the room, you don&rsquo;t hear them.
I think this is bullshit but you&rsquo;ll have to arrange it with the people you&rsquo;re
working with.</p>




<p>The second improvement is the music itself. Music can put you in a certain way of
consciousness which improves your concentration and speed on what you&rsquo;re working on
right now. I don&rsquo;t know if this is true for you,
but for me this effect only appears when I&rsquo;m listening to music which has no
lyrics or vocals in it (there are of course a few exceptions).
Because of this I&rsquo;ve created a <a href="http://danielpuglisi.com/articles/2012/10/31/wiring-in.html">playlist</a> which I&rsquo;m listening to when I&rsquo;m programming
or writing blog articles (like this one).
But when you&rsquo;re listening to music while working, be sure that your music application (Spotify, iTunes or whatever) isn&rsquo;t disturbing you.
Hit the play button and then hide it somewhere where it doesn&rsquo;t come into your way.</p>




<p>Another improvement here is,
that you don&rsquo;t have to listen to music you don&rsquo;t like (because you&rsquo;re wearing headphones).
Create your own playlist and if you want to, share it in the comments below.</p>




<h3>4. Write a Todo list</h3>




<p>Todo lists are essential to keep your productivity on a certain level.
This tip assumes, that you&rsquo;re already using Todo lists and aim to improve the use of it.
If you never used a Todo list before, here is a short
<a href="http://codegestalt.com/fistbump/2012/04/04/four-productivity-hacks-you-should-use">introduction</a> (the chapter <strong>Set weekly and daily goals</strong> is what you&rsquo;re looking for).</p>




<p>After some time using Todo lists, you might find yourself not doing it on a daily basis anymore or maybe you just want to improve them a little bit more.
This list should bring you a step closer to your goal:</p>




<ul>
<li>Wrting Tasks down should be easy. You can only achieve this goal with the right collection of tools.
I&rsquo;ve used Evernote a long time for my Todo lists but
in the end it wasn&rsquo;t the best tool for writing down tasks and checking them, because it took to long.
At the moment I&rsquo;m using good ol' pen and paper. I&rsquo;ve buyed a moleskin notebook and always carry it with me when I&rsquo;m working.
Maybe pen and paper isn&rsquo;t the best solution for you, but what I want to say is, try different tools and find out what best fits you.</li>
<li>Write everything down what you have done through the day even if it&rsquo;s not on the list. This approach is called the ToDone list. More <a href="http://codegestalt.com/fistbump/2012/08/20/the-todone-list">here</a>.</li>
<li>Mark the three most important tasks of the day and do them right at the beginning of the day.
Try to do these three tasks before the half time of your working day (normally lunch). If
these three tasks need more time, split them into multiple tasks until you manage to do them before lunch.
This will help you to improve your time management and to
evaluate which tasks need a certain amount of time.</li>
</ul>




<h3>5. Be disciplined</h3>




<p>The last and most important lesson I want to give you in these 5 tips is about habits.
All these tips above will be useless (not necessarily applicable for tip #1 and #3) for you if you&rsquo;re not going
to use them on a regular basis. Which means every day. If you do them every day you can manage to build
up habits and the good thing about habits is, that you can&rsquo;t delete them. So once you have achieved to build
up your habits for writing Todo lists or checking how many applications are running on your computer before starting to work
you will manage to improve your productivity like never before. But from nothing comes nothing. So you need to discipline yourself.
If you don&rsquo;t have any problems with discipline and don&rsquo;t need any help for that. Bravo. You can stop reading now,
because you will apply these previous 4 tips without any problem. But if not, go on.</p>




<p>Building up habits isn&rsquo;t always that easy and to minimize the range of failure I&rsquo;m going to introduce to you <a href="http://lifehacker.com/281626/jerry-seinfelds-productivity-secret">Jerry Seinfeld&rsquo;s Productivity Secret</a>.
It is called <strong>Don&rsquo;t break the chain!</strong>. The idea behind it is to create a list of certain tasks you&rsquo;re going to repeat on a daily basis. My list for example looks like this:</p>




<ul>
<li>Draw something</li>
<li>Shoot at least one usable picture</li>
<li>Programming</li>
<li>Read for 30 minutes</li>
<li>etc.</li>
</ul>




<p>Now what do you have to do with this list? Easy, you can do it the ol' school way and print out a huge calendar for every task and put in a big red cross on every day you&rsquo;ve done a
specific task. If you don&rsquo;t like to print out that much paper, there are also a few applications out there to achieve the same result. E.g. <a href="http://dontbreakthechain.com/">Don&rsquo;t break the chain</a>
is a simple web application which lets you mark the specific days you worked on a task. My humble self is using <a href="http://chains.cc/">chains.cc</a>. It has a fancy design
and they also have an iOS app.</p>




<p>If you&rsquo;re going to use this method it can (and I believe it will) help you to stay focused on the tips above and many other things for a long time and hopefully
you will build up habits in the end.</p>




<h3>TL;DR</h3>




<p>So let&rsquo;s recap these 5 tips in a short list:</p>




<ul>
<li>Turn off vibration for distracting apps on your mobile phone</li>
<li>Try to have only three running applications at a time while you&rsquo;re working</li>
<li>Wear headphones and listen to music which helps you concentrating</li>
<li>Write todo lists and complete the three main tasks until lunch</li>
<li>Do these 4 tips above every day, motivate yourself with a technique like <strong>Don&rsquo;t break the chains</strong></li>
</ul>




<p>That&rsquo;s it. Try this tips out and if you&rsquo;ve any additional tips or do things differently please let me know in the comments. Constructive critic is very welcome. Thank you.</p>


      
    </div>
  </div>
</article>

  



  
    <article class="post">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          
            <a href="/articles/2012/11/08/the-4-hour-chef-trailer.html">The 4-Hour Chef Trailer</a> 
          
        </h2>
        <div class="meta">November  8, 2012</div>
      </header>
      <iframe class="youtube" src="http://www.youtube.com/embed/Jdbd0k7BZ4s" frameborder="0" allowfullscreen></iframe>




<p>Oooh yes. After reading <strong>The 4-Hour Workweek</strong> and <strong>The 4-Hour Body</strong> I can&rsquo;t wait to get this one into my hands.
Looks like the next bestseller to me Tim ;)</p>


      
    </div>
  </div>
</article>

  



  
    <article class="post">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          
            <a href="/articles/2012/11/07/rails-girls-zurich.html">Rails Girls Zurich</a> 
          
        </h2>
        <div class="meta">November  7, 2012</div>
      </header>
      <iframe src="http://player.vimeo.com/video/53032561?title=0&amp;byline=0&amp;portrait=0&amp;badge=0" class="vimeo" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>




      
    </div>
  </div>
</article>

  



  
    <article class="link">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          <a href="http://blog.cloudflare.com/why-google-went-offline-today-and-a-bit-about">Why Google Went Offline Today and a Bit about How the Internet Works</a> &rarr;
        </h2>
        <div class="meta">November  6, 2012</div>
      </header>
      <p>Tom Paseka:</p>




<blockquote><p>Situations like this are referred to in the industry as &ldquo;route leakage&rdquo;, as the route has &ldquo;leaked&rdquo; past normal paths. This isn&rsquo;t an unprecedented event. Google previously suffered a similar outage when Pakistan was allegedly trying to censor a video on YouTube and the National ISP of Pakistan null routed the service&rsquo;s IP addresses. Unfortunately, they leaked the null route externally. Pakistan Telecom&rsquo;s upstream provider, PCCW, trusted what Pakistan Telecom&rsquo;s was sending them and the routes spread across the Internet. The effect was YouTube was knocked offline for around 2 hours.</p></blockquote>




<p>Interesting post which shows how the Internet works. At least a part of it.</p>


    </div>
  </div>
</article>

  



  
    <article class="link">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          <a href="http://codegestalt.com/fistbump/2012/11/02/how-you-can-help-to-get-more-women-into-tech">How you can help to get more women into tech</a> &rarr;
        </h2>
        <div class="meta">November  3, 2012</div>
      </header>
      <p>Feyyaz Alingan:</p>




<blockquote><p>Here at codegestalt we often think about how we could get more people into Rails and programming in general. Online coding courses such as codecademy are basically non-existent in German speaking countries (it would make sense to take the course in English since the programming language uses English vocabulary anyway, but to some people it can still feel like another barrier to entry). So it makes sense to think about ways to solve that problem.</p>

<p>We came up with two solutions (actually just one, and the other came to us.):</p>

<ul>
<li>Talking about our daily life, our programming and startup experience</li>
<li>Supporting Rails Girls in Zurich</li>
</ul>
</blockquote>




<p>We need more women in tech. That&rsquo;s for sure. Women think about certain things in a whole different way than men. So we lose a lot
of knowledge, ideas and creativity because there aren&rsquo;t enough women around. This is bad and we need to fix that.</p>




<p>The idea behind the article above is very simple, but it isn&rsquo;t always that easy to get women into tech. One cool thing is, we all can help.
Everyone who works in tech has the possibility to pursuave their female friends
(yes, nerds also have women as friends, especially Ruby developers ;D) and introduce
them to the cool world of coding and creating.</p>




<p>So next time there is a Rails Girls event or something similar near you, share it with your friends, tell everyone about it
and try to get them onboard. And if there isn&rsquo;t any such event, why no start hosting it by yourself?</p>


    </div>
  </div>
</article>

  



  
    <article class="post">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          
            <a href="/articles/2012/11/02/friday-hug-at-railsgirls-zurich.html">Friday Hug at RailsGirls Zurich</a> 
          
        </h2>
        <div class="meta">November  2, 2012</div>
      </header>
      <p><img src="/images/posts/friday-hug-rails-girls-zurich.jpg" alt="Friday Hug at RailsGirls Zurich" /></p>


      
    </div>
  </div>
</article>

  



  
    <article class="link">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          <a href="http://www.atlassian.com/time-wasting-at-work-infographic">You waste a lot of time at work</a> &rarr;
        </h2>
        <div class="meta">November  2, 2012</div>
      </header>
      <p><img src="/images/posts/you-waste-a-lot-of-time-at-work.jpg" alt="You wast a lot of time at work" /></p>




<blockquote><p>Just because you&rsquo;re at work doesn&rsquo;t mean you&rsquo;re getting work done.</p></blockquote>


    </div>
  </div>
</article>

  



  
    <article class="link">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          <a href="http://adrianoconnor.net/2011/01/i-hate-developing-sharepoint-a-rant/">I hate developing SharePoint (a rant)</a> &rarr;
        </h2>
        <div class="meta">November  1, 2012</div>
      </header>
      <p>Adrian O'Connor:</p>




<blockquote><p>Why is SharePoint so awful? Because it makes great developers average. Take an ordinarily amazing developer — the kind of person that can take your idea and create a beautiful prototype in 30 minutes. Give them SharePoint and watch them wilt. I’ve never seen anybody do anything amazing with SharePoint. I’ve never seen a SharePoint project and thought ‘well, that was quicker than expected’. That’s not all though. SharePoint is one big deception, and that gets my goat. Managers have been lured in by marketing promises of massive ROI, huge time and cost savings, baked-in-functionality and endless other dreams of hollow buzzwords. It’s all bullshit. Every last word.</p></blockquote>




<p>Finally a .NET developer who thinks SharePoint is bullshit and doesn&rsquo;t step back from saying it out loud.</p>


    </div>
  </div>
</article>

  



  
    <article class="post">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          
            <a href="/articles/2012/11/01/one-minute-wonder.html">One Minute Wonder</a> 
          
        </h2>
        <div class="meta">November  1, 2012</div>
      </header>
      <iframe src="http://player.vimeo.com/video/50980092?title=0&amp;byline=0&amp;portrait=0&amp;badge=0" class="vimeo" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>




<p><strong>One Minute Wonder</strong> is a series of one minute video portraits of different people around the world. Artists, entrepreneurs, designers, rain-makers and other professions
are giving the world a little insight in their own life and world. I really like the idea behind it and I thought about doing this kind of short documentations on my own in
Switzerland. We&rsquo;ll see.</p>


      
    </div>
  </div>
</article>

  




<div class="full-width">
  <div class="wrapper">
    <div class="pagination">
    
      <span class="previous">
        
          <a href="/">Previous</a>
        
      </span>
    

    <span class="extended">
      <span class="page">
        
        <a href="/blog/">1</a>
        
      </span>

      
        <span class="page">
          
            <span class="current-page">2</span>
          
        </span>
      
        <span class="page">
          
            <a href="/blog/page3">3</a>
          
        </span>
      
        <span class="page">
          
            <a href="/blog/page4">4</a>
          
        </span>
      
        <span class="page">
          
            <a href="/blog/page5">5</a>
          
        </span>
      
        <span class="page">
          
            <a href="/blog/page6">6</a>
          
        </span>
      
        <span class="page">
          
            <a href="/blog/page7">7</a>
          
        </span>
      
        <span class="page">
          
            <a href="/blog/page8">8</a>
          
        </span>
      
        <span class="page">
          
            <a href="/blog/page9">9</a>
          
        </span>
      
    </span>

    
      <span class="next">
        <a href="/blog/page3">Next</a>
      </span>
    
    </div>
  </div>
</div>





    <div class="footer">
      <div class="wrapper">
        <fieldset>
          <legend>&hearts;</legend>
        </fieldset>
        <div class="center">
          Handcrafted with a lot of love and passion by Daniel Puglisi
        </div>
      </div>
    </div>
  </section>
</body>
</html>
