<!doctype html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  
    <title>Daniel Puglisi - Designer. Developer. Co-Founder of Codegestalt.</title>
  
  <meta name="author" content="Daniel Puglisi" />
  <meta name="description" content="Developer, Designer and le Creed at Codegestalt." />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <meta property="og:description" content="{% for post in paginator.posts %}

  {% case post.layout %}
  {% when 'post' %}
    {% include post.html %}
  {% when 'link' %}
    {% include link.html %}
  {% when 'quote' %}
    {% include quote.html %}
  {% endcase %} 

{% endfor %}

{% include pagination.html %}
" />
  <link rel="stylesheet" href="/stylesheets/application.css" type="text/css" media="screen, projection" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-32260198-1']);
    _gaq.push(['_setDomainName', 'danielpuglisi.com']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  </script>
</head>
<body>
  <section class="full-width">

    <section class="header">
      <div class="wrapper">
        <div class="inner">
          <a href="/" class="logo"><img src="/images/logo.png"></a>
          Hi, I'm <a href="/about.html">Daniel Puglisi</a>. Developer, Designer and Co-Founder of Codegestalt.
          <div class="navigation">
            <!-- <a href="/blog">Blog</a> -->
            <s><a href="#">Stuff I made</a></s>
            <a href="http://twitter.com/danielpuglisi">Twitter</a>
            <a href="http://github.com/danielpuglisi">GitHub</a>
            <a href="http://flickr.com/people/danielpuglisi">Flickr</a>
          </div>
        </div>
      </div>
    </section>

    

  
    <article class="link">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          <a href="http://gigaom.com/2012/10/21/what-i-learned-while-live-tweeting-a-friends-funeral/">What I learned while live-tweeting a friend's funeral</a> &rarr;
        </h2>
        <div class="meta">October 23, 2012</div>
      </header>
      <p>Mathew Ingram:</p>




<blockquote><p>Some said that the reporter was being disrespectful of the family in that case, even though he had been invited to the ceremony by the family themselves, and did nothing to interrupt the proceedings. As I wrote on my personal blog at the time, I couldn’t really see any reason why live-tweeting should be forbidden, provided journalists were allowed to be present in the first place. How was doing this any different from taking notes in a notepad and then writing a blog post or news article later? Provided it didn’t disturb anyone, I didn’t see the problem them and I still don’t now.</p></blockquote>


    </div>
  </div>
</article>

   



  
    <article class="link">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          <a href="http://lifehacker.com/5953703/how-to-be-sociable-when-you-dont-feel-like-it">How to be Sociable When You Don't Feel Like It</a> &rarr;
        </h2>
        <div class="meta">October 22, 2012</div>
      </header>
      <p>Thorin Klosowski:</p>




<blockquote><p>One of the best ways to deal with small talk is to turn it into an actual conversation. You can do this pretty easily by mentioning small details until something sticks, or even just by learning the right questions to ask. If you&rsquo;re struggling to think of questions questions, the FORD technique (family, occupation, recreation, dreams) is a simple way to come up with interesting topics.</p></blockquote>


    </div>
  </div>
</article>

   



  
    <article class="post">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          
            <a href="/articles/2012/10/22/a-quick-redesign-in-under-one-hour.html">A quick redesign in under one hour</a> 
          
        </h2>
        <div class="meta">October 22, 2012</div>
      </header>
      <p>I just redesigned my blog in under one hour. The changes contain simplier design,
bigger headlines and more possibilites to format single elements like I want to
(Plus my face isn&rsquo;t watching you on every single page).</p>




<p>What do you think about the new design? Do you like it? What do you not like?
Questions about questions. Let me know in the comments.</p>




<div class="center big">
  With &hearts; from Daniel
</div>




      
    </div>
  </div>
</article>

   



  
    <article class="post">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          
            <a href="/articles/2012/10/21/about-a-worst-sequel-and-microsoft-cereals.html">About a bad sequel and Microsoft cereals</a> 
          
        </h2>
        <div class="meta">October 21, 2012</div>
      </header>
      <p>4 years ago I was pleasantly surprised after I&rsquo;ve watched that random movie I&rsquo;d buyed from my local DVD supplier.
90 minutes full of action and a plot which was unexpected intense and gripping. Where I live, they call this movie 96 hours.
The world maybe better knows it under the name of <strong>Taken</strong>.</p>




<p>This week I saw the sequel. And believe me when I say that this film is one of the worst productions Hollywood came up with this year.
The dialogues are poor, the action scenes are lame and the whole plot is filled with weird shit which is going on. Like an untrained girl
throwing grenades through Istanbul or a revenge seeking father who doesn&rsquo;t care about that his son was a female trader.</p>




<p>But lets talk about the good things: Liam Neeson is still a good actor and he did a good job. At least that good as you can get it out of the script.
Because he can&rsquo;t do anything about a bad written story or the weird movements of the camera man, he&rsquo;s just an actor.
So he is innocent when you start thinking that he can kill people by simply grabbing them into the face.
Maybe Luc Besson thought Chuck Norris is looking for a replacment?</p>




<p>So the conclusion for you is: <strong>Don&rsquo;t watch Taken 2</strong>. Go watch <strong>Looper</strong> or <strong>Savages</strong>.
I haven&rsquo;t seen them yet, but I&rsquo;m one hundred percent sure that these movies aren&rsquo;t the same waste of time as Taken 2 was.</p>




<p>But</p>




<iframe class="youtube" src="http://www.youtube.com/embed/rk9WHasIZk0" frameborder="0" allowfullscreen></iframe>




<p>about bad sequels.</p>




<p>One week ago I secretly <a href="http://danielpuglisi.com/articles/2012/10/10/html5-fullscreen-api-attack.html">ranted</a> about Microsoft.
One day later I got a present from <a href="https://twitter.com/yve_cab">@yve_cab</a>, Microsoft cereals:</p>




<p><img src="/images/posts/ms-cereals-01.jpg" alt="Bild 1" /></p>




<p><img src="/images/posts/ms-cereals-02.jpg" alt="Bild 2" /></p>




<p><img src="/images/posts/ms-cereals-03.jpg" alt="Bild 3" /></p>




<p>What comes around, goes around. Good move there broham :D</p>




<p>I haven&rsquo;t tried them yet but they do look tasty.
Maybe Microsoft should left the Software industry behind and start selling cereals as their main focus.</p>


      
    </div>
  </div>
</article>

   



  
    <article class="link">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          <a href="http://danielpuglisi.com/recommendations.html">Bored? Here are some new recommendations for you</a> &rarr;
        </h2>
        <div class="meta">October 21, 2012</div>
      </header>
      <p>Hey, sup?</p>




<p>Nothing to do today?</p>




<p>What about watching a good movie?</p>




<p>No idea what you should watch?</p>




<p>Hmm maybe you want to watch a Drama? Comedy? Action or Horror film?</p>




<p>Really? Ok, then maybe I got something for you&hellip; let me check&hellip;</p>




<p>Ahhha, yap found it. I found a lot of stuff. <a href="http://danielpuglisi.com/recommendations.html">Check this out</a>.</p>




<p>Big isn&rsquo;t it?</p>




<p>Mhm, yap.</p>




<p>Sure, no problem. Have fun.</p>


    </div>
  </div>
</article>

   



  
    <article class="link">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          <a href="http://beta.typecastapp.com/">typecast</a> &rarr;
        </h2>
        <div class="meta">October 19, 2012</div>
      </header>
      <p><img src="/images/posts/typecast.jpg" alt="typecast - create better web typography with less hassle" /></p>




<p>Looks interesting. I&rsquo;ve registered for the beta, hopefully I&rsquo;ll get an invite in the next few days.</p>


    </div>
  </div>
</article>

   



  
    <article class="link">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          <a href="http://37signals.com/svn/posts/3270-surprising-your-customers">Surprising Your Customers</a> &rarr;
        </h2>
        <div class="meta">October 18, 2012</div>
      </header>
      <p>Chase Clemons:</p>




<blockquote><p>My little cousin decided to dress up as Woody from Toy Story for Halloween this year. After finding the perfect version of that costume from the Disney Store, his mom had it shipped to the office since we didn’t know exactly what time it would arrive in the day. When it got here, the words “Love – Andy” was written in marker on the outside by someone from the Disney Store team.</p></blockquote>




<p>Cool idea.</p>


    </div>
  </div>
</article>

   



  
    <article class="post">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          
            <a href="/articles/2012/10/15/django-unchained-trailer-nr-2.html">Django Unchained Trailer Nr. 2</a> 
          
        </h2>
        <div class="meta">October 15, 2012</div>
      </header>
      <iframe class="youtube" src="http://www.youtube.com/embed/-sbCLChLcFM" frameborder="0" allowfullscreen></iframe>




      
    </div>
  </div>
</article>

   



  
    <article class="post">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          
            <a href="/articles/2012/10/11/what-if-money-was-no-object.html">What if money was no object?</a> 
          
        </h2>
        <div class="meta">October 11, 2012</div>
      </header>
      <iframe class="youtube" src="http://www.youtube.com/embed/siu6JYqOZ0g" frameborder="0" allowfullscreen></iframe>




<p>Amazing&hellip;</p>


      
    </div>
  </div>
</article>

   



  
    <article class="link">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          <a href="http://joshnh.com/2012/08/16/drawing-things-with-box-shadow/">Drawing Things with Box-Shadow</a> &rarr;
        </h2>
        <div class="meta">October 10, 2012</div>
      </header>
      <p>Joshua Hibbert:</p>




<blockquote><p>This is a neat little trick that I stumbled upon when play­ing around with a CSS exper­i­ment a few months ago. Basically, by using mul­tiple box-shadows, you can draw com­plex images with only a single ele­ment. As you may know, I’m a big fan of semantic markup, and I really don’t like using extra ele­ments just for styl­ing, so I was very happy with this discovery!</p></blockquote>




<p>Nice trick!</p>


    </div>
  </div>
</article>

   



<div class="full-width">
  <div class="pagination-wrapper">
    <div class="pagination">
    
      <span class="previous disabled">
        <span>Previous</span>
      </span>
    

    <span class="extended">
      <span class="page">
        
          <span class="current-page">1</span>
        
      </span>

      
        <span class="page">
          
            <a href="/page2">2</a>
          
        </span>
      
        <span class="page">
          
            <a href="/page3">3</a>
          
        </span>
      
        <span class="page">
          
            <a href="/page4">4</a>
          
        </span>
      
        <span class="page">
          
            <a href="/page5">5</a>
          
        </span>
      
        <span class="page">
          
            <a href="/page6">6</a>
          
        </span>
      
        <span class="page">
          
            <a href="/page7">7</a>
          
        </span>
      
    </span>

    
      <span class="next">
        <a href="/page2">Next</a>
      </span>
    
    </div>
  </div>
</div>



  </section>
</body>
</html>
