---
layout: page
title: "Blog"
base: blog/
---

<div class="full-width-box">
  <div class="wrapper border-top">
    <div class="inner center">
      <p class="categories">
        I write about my
        <a href="/blog/startup">startup life</a>,
        <a href="/blog/productivity">productivity</a>,
        <a href="/blog/programming">programming</a>,
        <a href="/blog/music">music</a> and a lot of other things.
      </p>
    </div>
  </div>
</div>

{% for post in paginator.posts %}

  {% case post.layout %}
  {% when 'post' %}
    {% include post.html %}
  {% when 'link' %}
    {% include link.html %}
  {% when 'quote' %}
    {% include quote.html %}
  {% endcase %}

{% endfor %}

{% include pagination.html %}
