<footer>
  <!-- <p> -->
  <!--   <b>Hint</b>: I'm not a native English speaker, --> 
  <!--   so I would really appreciate it if you -->
  <!--   would drop me a quick message via <a href="http://twitter.com/danielpuglisi">twitter</a> or <a href="mailto:daniel@codegestalt.com">mail</a> -->
  <!--   if you find something that I've spelled/done wrong. -->
  <!--   That would help me to improve my English. Thanks. -->
  <!-- </p> -->
  {% if page.comments %}
    {% include disqus.html %}
  {% endif %}
</footer>
