<!doctype html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  
    <title>Blog | Daniel Puglisi | Daniel Puglisi</title>
  
  <meta name="author" content="Daniel Puglisi" />
  <meta name="description" content="Developer, Designer and le Creed at Codegestalt." />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <meta property="og:description" content="{% for post in paginator.posts %}

  {% case post.layout %}
  {% when 'post' %}
    {% include post.html %}
  {% when 'link' %}
    {% include link.html %}
  {% when 'quote' %}
    {% include quote.html %}
  {% endcase %} 

{% endfor %}

{% include pagination.html %}
" />
  <link rel="stylesheet" href="/stylesheets/application.css" type="text/css" media="screen, projection" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <!-- <script src="/javascript/lte-ie7.js"></script> -->
  <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-32260198-1']);
    _gaq.push(['_setDomainName', 'danielpuglisi.com']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  </script>
</head>
<body>
  <section class="full-width">

    <section class="header">
  <div class="wrapper">
    <div class="inner">
      <!-- <a href="/" class="logo"><img src="/images/logo.png"></a> -->
      <div class="logo">
        <a href="/" class="domain">danielpuglisi.com</a><a href="/blog" class="directory">/blog</a>
      </div>
      Hi, I'm <a href="/about.html">Daniel</a>. Designer, Developer & Co-Founder of Codegestalt.
      <div class="navigation">
        <!-- <a href="/blog">Blog</a> -->
        <!-- <s><a href="#">Stuff I made</a></s> -->
        <a href="/atom.xml"><span aria-hidden="true" class="icon-feed"></span></a>
        <a href="http://twitter.com/danielpuglisi"><span aria-hidden="true" class="icon-twitter"></a>
        <a href="http://github.com/danielpuglisi"><span aria-hidden="true" class="icon-github"></a>
        <a href="http://flickr.com/people/danielpuglisi"><span aria-hidden="true" class="icon-flickr"></a>
        <a href="http://instagram.com/danielpuglisi"><span aria-hidden="true" class="icon-instagram"></a>
      </div>
    </div>
  </div>
</section>



  
    <article class="link">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          <a href="http://blog.cloudflare.com/why-google-went-offline-today-and-a-bit-about">Why Google Went Offline Today and a Bit about How the Internet Works</a> &rarr;
        </h2>
        <div class="meta">November  6, 2012</div>
      </header>
      <p>Tom Paseka:</p>




<blockquote><p>Situations like this are referred to in the industry as &ldquo;route leakage&rdquo;, as the route has &ldquo;leaked&rdquo; past normal paths. This isn&rsquo;t an unprecedented event. Google previously suffered a similar outage when Pakistan was allegedly trying to censor a video on YouTube and the National ISP of Pakistan null routed the service&rsquo;s IP addresses. Unfortunately, they leaked the null route externally. Pakistan Telecom&rsquo;s upstream provider, PCCW, trusted what Pakistan Telecom&rsquo;s was sending them and the routes spread across the Internet. The effect was YouTube was knocked offline for around 2 hours.</p></blockquote>




<p>Interesting post which shows how the Internet works. At least a part of it.</p>


    </div>
  </div>
</article>

   



  
    <article class="link">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          <a href="http://codegestalt.com/fistbump/2012/11/02/how-you-can-help-to-get-more-women-into-tech">How you can help to get more women into tech</a> &rarr;
        </h2>
        <div class="meta">November  3, 2012</div>
      </header>
      <p>Feyyaz Alingan:</p>




<blockquote><p>Here at codegestalt we often think about how we could get more people into Rails and programming in general. Online coding courses such as codecademy are basically non-existent in German speaking countries (it would make sense to take the course in English since the programming language uses English vocabulary anyway, but to some people it can still feel like another barrier to entry). So it makes sense to think about ways to solve that problem.</p>

<p>We came up with two solutions (actually just one, and the other came to us.):</p>

<ul>
<li>Talking about our daily life, our programming and startup experience</li>
<li>Supporting Rails Girls in Zurich</li>
</ul>
</blockquote>




<p>We need more women in tech. That&rsquo;s for sure. Women think about certain things in a whole different way than men. So we lose a lot
of knowledge, ideas and creativity because there aren&rsquo;t enough women around. This is bad and we need to fix that.</p>




<p>The idea behind the article above is very simple, but it isn&rsquo;t always that easy to get women into tech. One cool thing is, we all can help.
Everyone who works in tech has the possibility to pursuave their female friends
(yes, nerds also have women as friends, especially Ruby developers ;D) and introduce
them to the cool world of coding and creating.</p>




<p>So next time there is a Rails Girls event or something similar near you, share it with your friends, tell everyone about it
and try to get them onboard. And if there isn&rsquo;t any such event, why no start hosting it by yourself?</p>


    </div>
  </div>
</article>

   



  
    <article class="post">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          
            <a href="/articles/2012/11/02/friday-hug-at-railsgirls-zurich.html">Friday Hug at RailsGirls Zurich</a> 
          
        </h2>
        <div class="meta">November  2, 2012</div>
      </header>
      <p><img src="/images/posts/friday-hug-rails-girls-zurich.jpg" alt="Friday Hug at RailsGirls Zurich" /></p>


      
    </div>
  </div>
</article>

   



  
    <article class="link">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          <a href="http://www.atlassian.com/time-wasting-at-work-infographic">You waste a lot of time at work</a> &rarr;
        </h2>
        <div class="meta">November  2, 2012</div>
      </header>
      <p><img src="/images/posts/you-waste-a-lot-of-time-at-work.jpg" alt="You wast a lot of time at work" /></p>




<blockquote><p>Just because you&rsquo;re at work doesn&rsquo;t mean you&rsquo;re getting work done.</p></blockquote>


    </div>
  </div>
</article>

   



  
    <article class="link">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          <a href="http://adrianoconnor.net/2011/01/i-hate-developing-sharepoint-a-rant/">I hate developing SharePoint (a rant)</a> &rarr;
        </h2>
        <div class="meta">November  1, 2012</div>
      </header>
      <p>Adrian O'Connor:</p>




<blockquote><p>Why is SharePoint so awful? Because it makes great developers average. Take an ordinarily amazing developer — the kind of person that can take your idea and create a beautiful prototype in 30 minutes. Give them SharePoint and watch them wilt. I’ve never seen anybody do anything amazing with SharePoint. I’ve never seen a SharePoint project and thought ‘well, that was quicker than expected’. That’s not all though. SharePoint is one big deception, and that gets my goat. Managers have been lured in by marketing promises of massive ROI, huge time and cost savings, baked-in-functionality and endless other dreams of hollow buzzwords. It’s all bullshit. Every last word.</p></blockquote>




<p>Finally a .NET developer who thinks SharePoint is bullshit and doesn&rsquo;t step back from saying it out loud.</p>


    </div>
  </div>
</article>

   



  
    <article class="post">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          
            <a href="/articles/2012/11/01/one-minute-wonder.html">One Minute Wonder</a> 
          
        </h2>
        <div class="meta">November  1, 2012</div>
      </header>
      <iframe src="http://player.vimeo.com/video/50980092?title=0&amp;byline=0&amp;portrait=0&amp;badge=0" class="vimeo" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>




<p><strong>One Minute Wonder</strong> is a series of one minute video portraits of different people around the world. Artists, entrepreneurs, designers, rain-makers and other professions
are giving the world a little insight in their own life and world. I really like the idea behind it and I thought about doing this kind of short documentations on my own in
Switzerland. We&rsquo;ll see.</p>


      
    </div>
  </div>
</article>

   



  
    <article class="post">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          
            <a href="/articles/2012/10/31/wiring-in.html">Wiring in</a> 
          
        </h2>
        <div class="meta">October 31, 2012</div>
      </header>
      <p><span class="center">
<strong>My personal coding soundtrack for getting into the tunnel</strong>
</span></p>




<iframe src="https://embed.spotify.com/?uri=spotify:user:116689447:playlist:4xRzOhDR2TIX61XnIPWKH8" class="spotify" frameborder="0" allowtransparency="true"></iframe>




      
    </div>
  </div>
</article>

   



  
    <article class="link">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          <a href="http://www.scotthyoung.com/blog/2012/10/24/free-bootcamp/">Free Learn Faster Bootcamp</a> &rarr;
        </h2>
        <div class="meta">October 24, 2012</div>
      </header>
      <p>Scott H Young:</p>




<blockquote><p>Here’s a brief outline of a few of the ideas I’m going to share for free over the next seven days:</p>

<ul>
<li>The exact time management system I used to complete the MIT Challenge</li>
<li>How to get through hundreds of pages of reading, without losing focus</li>
<li>Which note-taking technique you should use (and which common one you should never use)</li>
<li>The technique to boost your memory, so you remember content years after the class was taught</li>
<li>How to always have confidence before taking any exam</li>
</ul>


<p>Again this is completely FREE, but only to people on the email list.</p></blockquote>




<p>Deal.</p>


    </div>
  </div>
</article>

   



  
    <article class="link">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          <a href="http://gigaom.com/2012/10/21/what-i-learned-while-live-tweeting-a-friends-funeral/">What I learned while live-tweeting a friend's funeral</a> &rarr;
        </h2>
        <div class="meta">October 23, 2012</div>
      </header>
      <p>Mathew Ingram:</p>




<blockquote><p>Some said that the reporter was being disrespectful of the family in that case, even though he had been invited to the ceremony by the family themselves, and did nothing to interrupt the proceedings. As I wrote on my personal blog at the time, I couldn’t really see any reason why live-tweeting should be forbidden, provided journalists were allowed to be present in the first place. How was doing this any different from taking notes in a notepad and then writing a blog post or news article later? Provided it didn’t disturb anyone, I didn’t see the problem them and I still don’t now.</p></blockquote>


    </div>
  </div>
</article>

   



  
    <article class="link">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          <a href="http://lifehacker.com/5953703/how-to-be-sociable-when-you-dont-feel-like-it">How to be Sociable When You Don't Feel Like It</a> &rarr;
        </h2>
        <div class="meta">October 22, 2012</div>
      </header>
      <p>Thorin Klosowski:</p>




<blockquote><p>One of the best ways to deal with small talk is to turn it into an actual conversation. You can do this pretty easily by mentioning small details until something sticks, or even just by learning the right questions to ask. If you&rsquo;re struggling to think of questions questions, the FORD technique (family, occupation, recreation, dreams) is a simple way to come up with interesting topics.</p></blockquote>


    </div>
  </div>
</article>

   



<div class="full-width">
  <div class="wrapper">
    <div class="pagination">
    
      <span class="previous disabled">
        <span>Previous</span>
      </span>
    

    <span class="extended">
      <span class="page">
        
          <span class="current-page">1</span>
        
      </span>

      
        <span class="page">
          
            <a href="/blog/page2">2</a>
          
        </span>
      
        <span class="page">
          
            <a href="/blog/page3">3</a>
          
        </span>
      
        <span class="page">
          
            <a href="/blog/page4">4</a>
          
        </span>
      
        <span class="page">
          
            <a href="/blog/page5">5</a>
          
        </span>
      
        <span class="page">
          
            <a href="/blog/page6">6</a>
          
        </span>
      
        <span class="page">
          
            <a href="/blog/page7">7</a>
          
        </span>
      
        <span class="page">
          
            <a href="/blog/page8">8</a>
          
        </span>
      
    </span>

    
      <span class="next">
        <a href="/blog/page2">Next</a>
      </span>
    
    </div>
  </div>
</div>




  </section>
</body>
</html>
