<!doctype html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  
    <title>Blog | Daniel Puglisi</title>
  
  <meta name="author" content="Daniel Puglisi" />
  <meta name="description" content="Daniel Puglisi is a Swiss Designer and Web Developer. He is the Co-Founder of Codegestalt, Kreatify and a Photography enthusiast." />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <meta property="og:description" content="&lt;div class=&quot;full-width-box&quot;&gt;
  &lt;div class=&quot;wrapper border-top&quot;&gt;
    &lt;div class=&quot;inner center&quot;&gt;
      &lt;p class=&quot;categories&quot;&gt;
        I write about my
        &lt;a href=&quot;/blog/startup&quot;&gt;startup life&lt;/a&gt;,
        &lt;a href=&quot;/blog/productivity&quot;&gt;productivity&lt;/a&gt;,
        &lt;a href=&quot;/blog/programming&quot;&gt;programming&lt;/a&gt;,
        &lt;a href=&quot;/blog/music&quot;&gt;music&lt;/a&gt; and a lot of other things.
      &lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;

{% for post in paginator.posts %}

  {% case post.layout %}
  {% when 'post' %}
    {% include post.html %}
  {% when 'link' %}
    {% include link.html %}
  {% when 'quote' %}
    {% include quote.html %}
  {% endcase %}

{% endfor %}

{% include pagination.html %}
" />
  <link rel="stylesheet" href="/stylesheets/application.css" type="text/css" media="screen, projection" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-32260198-1']);
    _gaq.push(['_setDomainName', 'danielpuglisi.com']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  </script>
</head>
<body>
  <section class="full-width">

    <section class="header">
  <div class="wrapper">
    <div class="inner">
      <div class="logo left">
        <a href="/" class="domain"><span class="red">&hearts;</span></a>
      </div>

      <div class="navigation right">
        <ul>
          <li><a href="/work.html">Work</a></li>
          <li><a href="/blog">Articles</a></li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</section>

<div class="full-width-box">
  <div class="wrapper border-top">
    <div class="inner center">
      <p class="categories">
        I write about my
        <a href="/blog/startup">startup life</a>,
        <a href="/blog/productivity">productivity</a>,
        <a href="/blog/programming">programming</a>,
        <a href="/blog/music">music</a> and a lot of other things.
      </p>
    </div>
  </div>
</div>



  
    <article class="post">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          
            <a href="/articles/2013/03/11/a-rails-girls-map.html">A Rails Girls Map</a> 
          
        </h2>
        <div class="meta">March 11, 2013</div>
      </header>
      <p><a href="https://twitter.com/abelar_s">@abelar_s</a> has created a Google map with locations of previous and future Rails Girls events, Basel is also already on that map :)</p>




<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?ie=UTF8&amp;msa=0&amp;msid=210067024639216766075.0004d77dc3ae4f6138b16&amp;t=m&amp;ll=27.683528,25.3125&amp;spn=150.062038,298.828125&amp;z=1&amp;output=embed"></iframe>




<p>Pretty cool stuff :)</p>


      
    </div>
  </div>
</article>

  



  
    <article class="post">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          
            <a href="/articles/2013/02/28/participants-for-a-rails-girls-intro.html">I'm looking for Participants for a Rails Girls Intro video</a> 
          
        </h2>
        <div class="meta">February 28, 2013</div>
      </header>
      <p>As you might know, I&rsquo;m helping organizing the <a href="http://railsgirls.com/basel">Rails Girls Basel</a> event which will take place on the 5th and 6th april this year.</p>




<p>To promote the event, we want to create a promo video and I had the idea to include several interviews from previous Rails Girls attendees/coaches from all over the world.
So if you&rsquo;re a former Rails Girls participant and would like to help me, here is what you can do:</p>




<ul>
<li>Record a video of yourself with the length of 30 &ndash; 60 seconds (it can be longer if you want to ;)</li>
<li>Talk about the following topics in your video [&ldquo;Why you are interested in programming?&rdquo;, &ldquo;What do you like about programming?&rdquo;, &ldquo;How is programming/tech related to your life?&rdquo;, &ldquo;How has programming/tech changed your life?&rdquo;, &ldquo;What do you think about the Rails Girls Event?&rdquo;, &ldquo;What else do you want to say?&rdquo;]</li>
<li>Upload the whole thing to a server/dropbox</li>
<li>Add a text file with your full name, Twitter handle and the city/country you live in</li>
<li>Send me a link to the package, so I can download the whole thing, to this <a href="mailto:daniel@codegestalt.com">address</a></li>
</ul>




<p>I would really appreciate your help and of course, you will be named in the credits.
Additionally if I can collect enough material, I&rsquo;ll try to create a general Rails Girls intro video which can be played on events all over the world :)</p>




<p>I&rsquo;m awaiting your email, cheers &hearts;</p>


      
    </div>
  </div>
</article>

  



  
    <article class="post">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          
            <a href="/articles/2013/01/31/beautify-your-chromes-new-tab-with-fancytab.html">Beautify your Chrome's New Tab with FancyTab</a> 
          
        </h2>
        <div class="meta">January 31, 2013</div>
      </header>
      <p>I had some spare time yesterday and decided to update and customize one of my favourite Chrome Extensions called VisivoTab.
What it does is, it just beautifies your Chrome&rsquo;s New Tab with a background image from flickr. I&rsquo;ve updated that extension according
to the latest Chrome guidelines and customized it with my own flickr pictures.</p>




<p>You can download it <a href="https://chrome.google.com/webstore/detail/fancytab/nijnkhgjogmbghnbnfandncgdinihhab?hl=en">here</a>.
Give it a try and rate it (with 5 stars ;). Enjoy &hearts;</p>


      
    </div>
  </div>
</article>

  



  
    <article class="post">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          
            <a href="/articles/2013/01/25/rails-girls-basel.html">Rails Girls Basel</a> 
          
        </h2>
        <div class="meta">January 25, 2013</div>
      </header>
      <p><img src="/images/posts/rails-girls-basel.jpg" alt="Rails Girls is coming to Basel, 5. - 6. April 2013!" /></p>




<p>Have you always wondered how to design and create
a homepage with your own hands?
Or maybe you had this fancy business idea
but didn&rsquo;t knew (or hadn&rsquo;t the money)
to realize your online presence?</p>




<p>Well then maybe Rails Girls is something for you. On the 5th and 6th April we will
unite at the mitte unternehmen and teach you how you can develop your very own
web applications. So, if you&rsquo;re a girl (sorry guys), have a MacBook/Laptop and
the drive to learn how to programm join us on <a href="https://www.facebook.com/RailsGirlsSwitzerland">Facebook</a> and stay tuned.
We&rsquo;ll release the application form in the next few days.</p>




<p>Cheers.</p>


      
    </div>
  </div>
</article>

  



  
    <article class="post">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          
            <a href="/articles/2013/01/02/the-hobby-fund.html">The Hobby Fund</a> 
          
        </h2>
        <div class="meta">January  2, 2013</div>
      </header>
      <p>Happy new year everyone. To ring in the new year with you, I want to share a new technique of mine. It is called <strong>The Hobby Fund</strong>.</p>




<p>Everyone of us has its own hobbies which one loves to practice.
We love to spend money on it and don&rsquo;t regret most of our decision we make in favour for our hobby.
Altough, for some of us things can get very expensive.
In particular when your hobby is called photography or something similar expensive where you can sell your house and still
don&rsquo;t have enough money to fulfill all of your dreams.</p>




<p>This is where The Hobby Fund kicks in.
The idea behind it is to save money from activites you practice during the week
and need more than bare willpower to do them. For instance workout or eating heahlty.
Everytime you do such an activity you can pay out yourself a certain amount of money which you have settled in the beginning.</p>




<p>For example, my list of activities/goals looks like this:</p>




<ul>
<li>Workout / 10$</li>
<li>Read for 30minutes / 3$ (once per day)</li>
<li>Drink more water / 1$ per liter (max. 2 liter per day)</li>
<li>Write a usable blog post / 10$</li>
<li>Don&rsquo;t smoke / 7$ (only if not smoked any cigarettes 24/7)</li>
<li>Slow carb / 1$ per meal</li>
</ul>




<p>If I would do any these tasks in the list above I could save up to 142$ each week.
Of course not anyone can afford to save 142$ per week and the goal isn&rsquo;t to do anything which is on the list.
Just pick a few goals and after every time you finished something, write it down. A good aim is to earn 50-80$ every week. At least for me.
Find a good combination for each task and reward and don&rsquo;t over- or undervalue single activities/goals.</p>




<p>This way you can save up a lot of money until the end of the month, which you then can spend on your favourite hobbies.
At the same time you boost your productivity for things you wouldn&rsquo;t even do otherwise.</p>




<p>Try it out for a month, spend your saved money on your hobbies and then
decide to continue with this techique or if a better place for it would be your trunk.
Or maybe you will continue with it, but instead of The Hobby Fund, you are going to put that <em>earned</em> money into your savings.
That decision is up to you.</p>


      
    </div>
  </div>
</article>

  



  
    <article class="link">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          <a href="http://learntoduck.net/startup-yoda">Fuck You, Startup Yoda</a> &rarr;
        </h2>
        <div class="meta">December 12, 2012</div>
      </header>
      <p>Micah Baldwin:</p>




<blockquote><p>The voices that bring real value are often not folks with tens of thousands of twitter followers or facebook subscribers. They are true operators, the silent killers who write with a pent up requirement to share their search with fellow entrepreneurs. They understand, perhaps unknowingly, that they are learning through the collective unconscious of the startup ecosystem by participating, rather than being a sound bite.</p></blockquote>




<p>I have nothing to add. Just read it.</p>


    </div>
  </div>
</article>

  



  
    <article class="link">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          <a href="http://foldifyapp.com/">Foldify</a> &rarr;
        </h2>
        <div class="meta">December 10, 2012</div>
      </header>
      <iframe src="http://player.vimeo.com/video/54479185?title=0&amp;byline=0&amp;portrait=0&amp;badge=0" class="vimeo" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>




    </div>
  </div>
</article>

  



  
    <article class="post">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          
            <a href="/articles/2012/12/02/hello-winter.html">Hello Winter</a> 
          
        </h2>
        <div class="meta">December  2, 2012</div>
      </header>
      <p><a href="http://500px.com/photo/19655303"><img src="http://pcdn.500px.net/19655303/e14ca45c1f4dc6f9ef090f6c1aabc4ee7d80dc2c/4.jpg" alt="Winter is here by Daniel Puglisi (danielpuglisi)) on 500px.com" border="0" style="margin: 0 0 5px 0;"></a></p>


      
    </div>
  </div>
</article>

  



  
    <article class="post">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          
            <a href="/articles/2012/12/02/portico-quartet.html">Portico Quartet</a> 
          
        </h2>
        <div class="meta">December  2, 2012</div>
      </header>
      <iframe src="https://embed.spotify.com/?uri=spotify:album:2Y83b1uzgf5pDfQHdFKgjm" class="spotify" frameborder="0" allowtransparency="true"></iframe>




      
    </div>
  </div>
</article>

  



  
    <article class="link">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          <a href="http://freelancember.com/">Freelancember 2012</a> &rarr;
        </h2>
        <div class="meta">December  2, 2012</div>
      </header>
      <p><img src="/images/posts/freelancember.jpg" alt="Freelancember" /></p>




<p>An Advent Calendar for Web Designers and Freelancer. Worth to check out.</p>


    </div>
  </div>
</article>

  




<div class="full-width">
  <div class="wrapper">
    <div class="pagination">
    
      <span class="previous disabled">
        <span>Previous</span>
      </span>
    

    <span class="extended">
      <span class="page">
        
          <span class="current-page">1</span>
        
      </span>

      
        <span class="page">
          
            <a href="/blog/page2">2</a>
          
        </span>
      
        <span class="page">
          
            <a href="/blog/page3">3</a>
          
        </span>
      
        <span class="page">
          
            <a href="/blog/page4">4</a>
          
        </span>
      
        <span class="page">
          
            <a href="/blog/page5">5</a>
          
        </span>
      
        <span class="page">
          
            <a href="/blog/page6">6</a>
          
        </span>
      
        <span class="page">
          
            <a href="/blog/page7">7</a>
          
        </span>
      
        <span class="page">
          
            <a href="/blog/page8">8</a>
          
        </span>
      
        <span class="page">
          
            <a href="/blog/page9">9</a>
          
        </span>
      
    </span>

    
      <span class="next">
        <a href="/blog/page2">Next</a>
      </span>
    
    </div>
  </div>
</div>





    <div class="footer">
      <div class="wrapper">
        <fieldset>
          <legend>&hearts;</legend>
        </fieldset>
        <div class="center">
          Handcrafted with a lot of love and passion by Daniel Puglisi
        </div>
      </div>
    </div>
  </section>
</body>
</html>
