---
layout: layout
---

<section class="header">
  <div class="wrapper">
    <div class="inner">
      <!-- <a href="/" class="logo"><img src="/images/logo.png"></a> -->
      <div class="logo">
        <a href="/" class="domain">danielpuglisi.com</a><a href="/blog" class="directory">/blog</a>
      </div>
      Hi, I'm <a href="/about.html">Daniel</a>. Designer, Developer & Co-Founder of Codegestalt.
      <div class="navigation">
        <!-- <a href="/blog">Blog</a> -->
        <!-- <s><a href="#">Stuff I made</a></s> -->
        <a href="/atom.xml"><span aria-hidden="true" class="icon-feed"></span></a>
        <a href="http://twitter.com/danielpuglisi"><span aria-hidden="true" class="icon-twitter"></a>
        <a href="http://github.com/danielpuglisi"><span aria-hidden="true" class="icon-github"></a>
        <a href="http://flickr.com/people/danielpuglisi"><span aria-hidden="true" class="icon-flickr"></a>
      </div>
    </div>
  </div>
</section>

{{ content }}
