---
layout: layout
---

<section class="header">
  <div class="wrapper">
    <div class="inner">
      <div class="logo left">
        <!-- <a href="/" class="domain">Hi, I'm <span class="directory">Daniel</span> <span class="red">&hearts;</span></a> -->
        <a href="/" class="domain"><span class="red">&hearts;</span></a>
      </div>
      <!-- Hi, I'm <a href="/about.html">Daniel</a>. Designer, Developer & Co-Founder of Codegestalt. -->

      <!-- <div class="categories-list"> -->
      <!--   I write about my -->
      <!--   <a href="/blog/startup">startup life</a>, -->
      <!--   <a href="/blog/productivity">productivity</a>, -->
      <!--   <a href="/blog/programming">programming</a>, -->
      <!--   <a href="/blog/music">music</a> and a lot of other things. -->
      <!-- </div> -->

      <div class="navigation right">
        <ul>
          <li><a href="/work">Projects</a></li>
          <li><a href="/blog">Articles</a></li>
          <li><a href="/blog">Contact</a></li>
        </ul>
        <!-- <s><a href="#">Stuff I made</a></s> -->

        <!-- <a href="/atom.xml"><span aria-hidden="true" class="icon-feed"></span></a> -->
        <!-- <a href="http://twitter.com/danielpuglisi"><span aria-hidden="true" class="icon-twitter"></a> -->
        <!-- <a href="http://github.com/danielpuglisi"><span aria-hidden="true" class="icon-github"></a> -->
        <!-- <a href="http://flickr.com/people/danielpuglisi"><span aria-hidden="true" class="icon-flickr"></a> -->
        <!-- <a href="http://instagram.com/danielpuglisi"><span aria-hidden="true" class="icon-instagram"></a> -->
      </div>
      <div class="clear"></div>
    </div>
  </div>
</section>

{{ content }}
