<!doctype html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="Daniel Puglisi" />
  <meta name="description" content="Developer, Designer and le Creed at Codegestalt." />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/application.css" type="text/css" media="screen, projection" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-32260198-1']);
    _gaq.push(['_setDomainName', 'danielpuglisi.com']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  </script>
</head>
<body>
  <aside id="left">
    <section id="sidebar">
      <section id="header" class="box">
        <!-- <a href="/"><img src="https://de.gravatar.com/userimage/14010499/121b74cb9d3b9f09a172a2aff0d6b686.jpg?size=160" class="circle"></a> -->
        <a href="/"><img src="/images/avatar.jpg" class="circle"></a>
      </section>
      <div class="ribbon">
        <span>
          Hi, I'm <a href="/about.html">Daniel</a>
        </span>
      </div>
      <div id="me">
        I work as a Designer <br />and Developer at <a href="http://codegestalt.com">Codegestalt</a>.
      </div>
      <ul>
        <li><a href="https://github.com/danielpuglisi">GitHub</a></li>
        <li><a href="https://twitter.com/#!/danielpuglisi">Twitter</a></li>
        <li><a href="http://www.flickr.com/photos/danielpuglisi/">Flickr</a></li>
      </ul>
      <footer>
        <a href="/atom.xml">RSS</a> - <a href="/about.html">About</a>
      </footer>
    </section>
  </aside>
  <section id="right">

    {{ content }}

  </section>
</body>
</html>
