<!doctype html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  
    <title>Daniel Puglisi - Designer. Developer. Co-Founder of Codegestalt.</title>
  
  <meta name="author" content="Daniel Puglisi" />
  <meta name="description" content="Developer, Designer and le Creed at Codegestalt." />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <meta property="og:description" content="{% for post in paginator.posts %}

  {% case post.layout %}
  {% when 'post' %}
    {% include post.html %}
  {% when 'link' %}
    {% include link.html %}
  {% when 'quote' %}
    {% include quote.html %}
  {% endcase %} 

{% endfor %}

{% include pagination.html %}
" />
  <link rel="stylesheet" href="/stylesheets/application.css" type="text/css" media="screen, projection" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-32260198-1']);
    _gaq.push(['_setDomainName', 'danielpuglisi.com']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  </script>
</head>
<body>
  <section class="full-width">

    <section class="header">
      <div class="wrapper">
        <div class="inner">
          <a href="/" class="logo"><img src="/images/logo.png"></a>
          Hi, I'm <a href="/about.html">Daniel Puglisi</a>. Developer, Designer and Co-Founder of Codegestalt.
          <div class="navigation">
            <!-- <a href="/blog">Blog</a> -->
            <s><a href="#">Stuff I made</a></s>
            <a href="http://twitter.com/danielpuglisi">Twitter</a>
            <a href="http://github.com/danielpuglisi">GitHub</a>
            <a href="http://flickr.com/people/danielpuglisi">Flickr</a>
          </div>
        </div>
      </div>
    </section>

    

  
    <article class="link">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          <a href="http://excid3.com/blog/teaching-the-obvious/">Teaching The Obvious</a> &rarr;
        </h2>
        <div class="meta">July 11, 2012</div>
      </header>
      <p>Chris Oliver:</p>




<blockquote><p>What’s obvious to you may not be obvious to someone else. When they feel something is completely obvious, that means you’ve done your job.</p></blockquote>




<p>True story.</p>


    </div>
  </div>
</article>

   



  
    <article class="link">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          <a href="http://www.kickstarter.com/projects/jackcheng/these-days-a-novel">These Days: A Novel</a> &rarr;
        </h2>
        <div class="meta">July 10, 2012</div>
      </header>
      <blockquote><p>These Days is about Connor Vast, a guy who designs fake computer interfaces for plastic prop displays in furniture showrooms. He meets a girl who doesn&rsquo;t own a cellphone and is as disconnected as he is connected. As their relationship develops, he falls in with a group of entrepreneurs out to invent the future, but it&rsquo;s the same future she&rsquo;s rebelling against. It&rsquo;s a story about the human side of technology—the people who make it, the reasons they build, and the people on the other end.</p></blockquote>




<blockquote class="twitter-tweet tw-align-center" lang="de"><p>Really worth a look or/and a back! --&gt; These Days: A Novel by @<a href="https://twitter.com/jackcheng">jackcheng</a> <a href="http://t.co/FVfnjWDK" title="http://bit.ly/RWGpM0">bit.ly/RWGpM0</a></p>&mdash; Daniel Puglisi (@danielpuglisi) <a href="https://twitter.com/danielpuglisi/status/222710534166949890" data-datetime="2012-07-10T15:15:03+00:00">Juli 10, 2012</a></blockquote>




    </div>
  </div>
</article>

   



  
    <article class="link">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          <a href="https://github.com/blog/1189-investing-in-github">GitHub raises $100M funding</a> &rarr;
        </h2>
        <div class="meta">July 10, 2012</div>
      </header>
      <blockquote><p>Today we are partnering with Andreessen Horowitz and announcing our first ever outside investment.</p></blockquote>




<p>Today GitHub announced that they are <a href="http://peter.a16z.com/2012/07/09/software-eats-software-development">partnering with Andreessen Horowitz</a>.
I hope this is going to end well for them&hellip;</p>


    </div>
  </div>
</article>

   



  
    <article class="post">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          
            <a href="/2012/07/10/game-of-thrones-meets-minecraft.html">Game of Thrones meets Minecraft</a> 
          
        </h2>
        <div class="meta">July 10, 2012</div>
      </header>
      <iframe class="youtube" src="http://www.youtube.com/embed/w0gLX_Kn_S8" frameborder="0" allowfullscreen></iframe>




      
    </div>
  </div>
</article>

   



  
    <article class="link">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          <a href="http://devblog.avdi.org/2012/07/09/available-for-pair-programming-appointments/">Stepping off the ledge</a> &rarr;
        </h2>
        <div class="meta">July  9, 2012</div>
      </header>
      <p>Avdi Grimm:</p>




<blockquote><p>So here it is: I’m stepping out into thin air and dedicating the bulk of my time to things that get me excited. I’ve been incredibly blessed so far in that my book sales have started to form a meaningful percentage (though not a majority) of my income. Now I’m going to see if doing what I love can actually support my family.</p></blockquote>




<p>An interesting read up from Avdi Grimm about Avdi Grimm and his feelings about taking the step and being self-employed.</p>


    </div>
  </div>
</article>

   



  
    <article class="link">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          <a href="http://www.amazon.de/gp/product/B0067TGSOK/ref=as_li_qf_sp_asin_il_tl?ie=UTF8&camp=1638&creative=6742&creativeASIN=B0067TGSOK&linkCode=as2&tag=httpdanielpuc-21">The 100$ Startup</a> &rarr;
        </h2>
        <div class="meta">July  9, 2012</div>
      </header>
      <p>Daniel H. Pink, New York Times bestselling author of Drive and A Whole New Mind:</p>




<blockquote><p>The $100 Startup is a twofer: It&rsquo;s a kick in the pants to get started on your dream and a road map for finding your way once you begin. If you&rsquo;re not ready to launch your own business after reading this book, you need to go back and read it again!</p></blockquote>




<p>That&rsquo;s the book I&rsquo;m reading right now. Easy written, great tips, interesting stories.</p>


    </div>
  </div>
</article>

   



  
    <article class="post">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          
            <a href="/2012/06/30/chillin.html">Chillin</a> 
          
        </h2>
        <div class="meta">June 30, 2012</div>
      </header>
      <p><img src="http://farm9.staticflickr.com/8022/7467893074_d18e8babc6_z.jpg" alt="&quot;whut chu doin?&quot; - &quot;chillin&quot;" /></p>


      
    </div>
  </div>
</article>

   



  
    <article class="link">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          <a href="https://elasticsales.com/blog/2012/05/07/startup-hustler/">The Startup Hustler</a> &rarr;
        </h2>
        <div class="meta">June 29, 2012</div>
      </header>
      <blockquote><p>A hustler is someone who is single minded in his quest to get results. Nothing else motivates him. Nothing else matters. To hustle you have to think big picture and you have to be driven by creating significant results for your venture. It doesn&rsquo;t matter if it&rsquo;s closing deals or closing a round of funding &ndash; a startup hustler gets things done that drive revenue for the company and that are crucial for survival and for growth.</p></blockquote>




<p>We also have one of these &ldquo;Startup Hustlers&rdquo;. Let me introduce to you: <a href="https://twitter.com/freshfey">@freshfey</a></p>


    </div>
  </div>
</article>

   



  
    <article class="post">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          
            <a href="/personal/2012/06/28/summer-maddafakkas.html">Spotify Playlist: Summer Maddafakkas</a> 
          
        </h2>
        <div class="meta">June 28, 2012</div>
      </header>
      <iframe src="https://embed.spotify.com/?uri=spotify:user:116689447:playlist:4x748cfeeSX9Ie5SATVmDv&theme=white&view=coverart" frameborder="0" allowtransparency="true" class="spotify"></iframe>




<p>A few days ago, I released a new playlist on <a href="http://www.spotify.com/">Spotify</a>. It&rsquo;s all about summer and there are some refreshing tracks in it. Check it out and if you have something you would like to see on the playlist, please give me a shout.</p>


      
    </div>
  </div>
</article>

   



  
    <article class="post">
  <div class="wrapper">
    <div class="inner">
      <header>
        <h2>
          
            <a href="/personal/2012/06/24/rulu-2012.html">Rulu 2012</a> 
          
        </h2>
        <div class="meta">June 24, 2012</div>
      </header>
      <p>So Rulu 2012 is over and to say it right ahead: for me, it was just awesome! It was my first (ruby) developer conference at all and I could really benefit from it.</p>




<p>The organisers of the event have done a very great job. From the introduction, to the talks. From the food (the food was actually pretty awesome!) to the party.
I have experienced/contributed to/organized a lot of events (from small to big events) and I can say this one went very well. So congratulations to the organisers.</p>




<p>Beside the great talks I&rsquo;ve listened to, I&rsquo;ve also met a lot of interesting and great ruby developers.
I have gained so much inspiration and discovered a lot of new stuff that I&rsquo;m definitely going to try out in the next few days or weeks (vim plugins, books, databases and a tons of tools). And I think I finally found my Harajuku moment for
starting to learn TDD (yap, I haven&rsquo;t used TDD yet, shame on me). So I can&rsquo;t wait to come back home and start to learn anything about rspec and any other test related stuff.</p>




<p>I also want to add that it was a great experience for me to test my English knowledge that I had accomplished the last few years in school and I think I actually did quite well.
In that short time of speaking to other people, it gave me a huge boost of self-confidence and I think if you are in a similiar position as I am you should definitely check out some
local or near events where the attendees only speak the language you want to improve. For sure, it needs a lot of courage to talk to foreign people but in the end you only can win.
So a big &ldquo;Thank you&rdquo; to every French attendee for speaking English (in Switzerland, the most French people I know don&rsquo;t like and are not going to talk to you in English or German,
so it&rsquo;s quite difficult to communicate with them. But that&rsquo;s just my experience, please correct me if I&rsquo;m wrong). Because otherwise I wouldn&rsquo;t have understand anything
except of &ldquo;bonjour&rdquo;, &ldquo;bonsoir&rdquo; or &ldquo;bon appetit&rdquo;.</p>




<p>But enough from my blabla. I have taken a few pictures through the conference and I will just let the pictures speak for themselves:</p>




<p><img src="http://farm9.staticflickr.com/8002/7431283656_5381e90aa9_c.jpg" alt="Welcome to Rulu" /></p>




<p><img src="http://farm8.staticflickr.com/7257/7431276550_b626fd3eb6_c.jpg" alt="Brandon Keepers about Why our Code Smells" /></p>




<p><img src="http://farm9.staticflickr.com/8153/7431287306_fd3cd88a31_c.jpg" alt="Metro" /></p>




<p><img src="http://farm8.staticflickr.com/7134/7431280800_69bc567b68_c.jpg" alt="Party at Koodeta" /></p>




<p><img src="http://farm6.staticflickr.com/5071/7431279286_7b6920a64b_c.jpg" alt="Alex Koppel about Sleep!" /></p>




<p><img src="http://farm9.staticflickr.com/8146/7431278294_96833951a7_c.jpg" alt="Rulu lunch" /></p>




<p><img src="http://farm9.staticflickr.com/8012/7431293340_ccf9ac1221_c.jpg" alt="Rulu Goodies" /></p>




<p><img src="http://farm8.staticflickr.com/7263/7431281420_279dcf5f9d_c.jpg" alt="Roy Tomeij on stage" /></p>




<p><img src="http://farm9.staticflickr.com/8154/7431287798_d073418d85_c.jpg" alt="Laurent Sansonetti is talking about RubyMotion" /></p>




<p><img src="http://farm9.staticflickr.com/8167/7431293898_a662460006_c.jpg" alt="Rod is hungry" /></p>




<p><img src="http://farm8.staticflickr.com/7277/7431290290_190e889b0b_c.jpg" alt="Ruby community &lt;3" /></p>




<p><img src="http://farm8.staticflickr.com/7262/7431296996_3f52c8fdef_c.jpg" alt="More food" /></p>




<p><img src="http://farm8.staticflickr.com/7254/7431387110_b34979607e_c.jpg" alt="til next year rulu" /></p>




<p>Flickr: <a href="http://www.flickr.com/photos/danielpuglisi/sets/72157630262265828/">Rulu 2012</a></p>




<p>If you are interested in the talks, I think the Rulu organisators are creating videos
from the presentations. As soon as they are available, I&rsquo;ll post the link in this blog.</p>


      
    </div>
  </div>
</article>

   



<div class="full-width">
  <div class="pagination-wrapper">
    <div class="pagination">
    
      <span class="previous">
        
          <a href="/page5">Previous</a>
        
      </span>
    

    <span class="extended">
      <span class="page">
        
        <a href="/">1</a>
        
      </span>

      
        <span class="page">
          
            <a href="/page2">2</a>
          
        </span>
      
        <span class="page">
          
            <a href="/page3">3</a>
          
        </span>
      
        <span class="page">
          
            <a href="/page4">4</a>
          
        </span>
      
        <span class="page">
          
            <a href="/page5">5</a>
          
        </span>
      
        <span class="page">
          
            <span class="current-page">6</span>
          
        </span>
      
        <span class="page">
          
            <a href="/page7">7</a>
          
        </span>
      
    </span>

    
      <span class="next">
        <a href="/page7">Next</a>
      </span>
    
    </div>
  </div>
</div>



  </section>
</body>
</html>
